# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.DS_Store

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# vim
*.swp

logs/

# Environament variables
.env
